@charset "UTF-8";

@font-face {
    font-family: 'pixel';
    src: url(../fontes/pixel.ttf) format('truetype');
}

@font-face {
    font-family: 'instruction';
    src: url(../fontes/Instruction.otf) format('opentype');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --fontepadrao: 'instruction';
    --fontebutton: 'pixel';
}
body, html{
    height: 100vh;
    background-color: black; 
    color: white;

}
body{
    overflow-x: hidden;
    font-family: var(--fontepadrao);
}
h1{
    text-align: center;
    font-size: 2em;
}
header{
    position: relative;
    color: white;
    padding: 20px 10px;
}
header > a#Loud > svg{
    position: absolute;
    left: 4%;
    display: inline-block;
    text-align: left;
    font-size: 0.5em;

}
header > nav#items{
    display: none;
    margin-top: 40px;
}
header > nav#items > ul > li{
    display: block;
    text-align: center;
    padding: 10px 1px;
    background-color: white;
}
header > nav#items > ul > li > a{
    text-decoration: none;
    color: black;
}
header > span#menu{
    position: absolute;
    left: 90%;
    cursor: pointer;
    
    font-size: 1.5em;
    color: white;

    transform: translateX(75%);

}
header > div#row{
    background-color: rgba(255, 255, 255, 0.354);
    height: 1px;
    margin-top:15px;
    display: none;
}
main{
    margin: auto;
}
section{
    color: white;
    padding: 50px 0px;
}
section div#club{
    text-align: justify;
}
section div#club > h1{
    font-weight: bold;
    text-align: justify;
    font-size: 2.5em;
    margin-bottom: 8px;
    width: 100%;
    padding: 0px 5% 0px 10%;

}
section div#club > p{
    padding-left: 25px;
    font-size: 1em;
    margin-bottom: 30px;
    padding: 0px 5% 0px 10%;
}
section div#club > input#button{
    height: 100%;
    width: 90%;
    padding: 12px;
    margin-left: 25px;
    border: 2px solid black;
    background-color: #13ff00;
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    font-family:var(--fontebutton);
    cursor: pointer;
}
section  div#imagem{
    display: block;
    background:white url("https://images.prismic.io/loud/705d445c-bae4-4422-9e2f-f1f390d2a099_LOUD_Club_Web.jpg?auto=compress,format") no-repeat scroll center center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin: 50px 0px 0px 0px;
}
section div#compras{
    background-color: #151515;
    padding-bottom: 60px; 
}
section div#compras > h1{
    padding: 80px 0px 50px 0px;

}
section div.img-2{
    display: block;
    margin: auto;
    height: 500px;
    width: 90%;
}
section div#imagem-1{
    background: white url("https://loud.gg/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0072%2F9671%2F2755%2Fproducts%2FCAMISETAS.jpg%3Fv%3D1626386575&w=2048&q=80") no-repeat scroll center center;
    background-size: cover;
    margin-bottom: 5%;
}
section  p.info-img{
    padding: 110% 0px 0px 2%;
    color: black;
}
section div#imagem-2{
    background: white url("https://loud.gg/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0072%2F9671%2F2755%2Fproducts%2FDSC9696.jpg%3Fv%3D1626373372&w=2048&q=80") no-repeat scroll center center;
    background-size: cover;
    margin-bottom: 5%;
}

section div#imagem-3{
    background: white url("https://loud.gg/_next/image?url=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0072%2F9671%2F2755%2Fproducts%2F2MB-8869.jpg%3Fv%3D1626389235&w=2048&q=80") no-repeat scroll center center;
    background-size: cover;
}
section div#lookbook{
    background-color: #252525;
}
section div#lookbook > h1{
    padding: 60px 0px 30px 0px;
}
section div#imagem-4{
    background: white url("https://loud.gg/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Floud%2F4dc9547a-9479-4b72-9b3f-df9b0e06b3bf_NOVO3.jpg%3Fauto%3Dcompress%2Cformat&w=640&q=100") no-repeat scroll center center;
    background-size: cover;
    margin-bottom: 5%;
}
section div#imagem-5{
    background: white url("https://loud.gg/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Floud%2F3a415c71-654f-4c6e-8116-85c6d2c2ce22_REDUZIDO1.jpg%3Fauto%3Dcompress%2Cformat&w=640&q=100") no-repeat scroll center center;
    background-size: cover;
    margin-bottom: 5%;
}
section div#imagem-6{
    background: white url("https://loud.gg/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Floud%2Fcb46bcf6-b6b3-4c81-b7a0-9211c86995d0_CASTRIN.jpg%3Fauto%3Dcompress%2Cformat&w=640&q=100") no-repeat scroll center center;
    background-size: cover;
}
